{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}

<div class="productView"
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option">

    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-images" data-image-gallery>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        {{#if product.images.length '>' 1 }}
        {{> components/carousel-content-announcement}}
        {{/if}}
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank">
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>
        </figure>
        <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "dots": false,
                "accessibility": false,
                "slidesToShow": 5,
                "slidesToScroll": 5
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>

    <section class="productView-details product-data">
        <div class="productView-product">
            <h1 class="productView-title">{{product.title}}</h1>
            {{#if product.brand}}
                <h2 class="productView-brand">
                    <a href="{{product.brand.url}}"><span>{{product.brand.name}}</span></a>
                </h2>
            {{/if}}
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{> components/products/price price=product.price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
            <div class="productView-rating">
                {{#if settings.show_product_rating}}
                    {{> components/products/ratings rating=product.rating}}
                    {{#if product.num_reviews '>' 0}}
                        <a href="{{product.url}}{{#if is_ajax}}#product-reviews{{/if}}" id="productReview_link">
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        </a>
                    {{else}}
                        <span>{{lang 'products.reviews.link_to_review' total=product.num_reviews}}</span>
                    {{/if}}
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                       class="productView-reviewLink productView-reviewLink--new"
                       {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
                       role="button"
                    >
                       {{lang 'products.reviews.new'}}
                    </a>
                    {{#unless is_ajax}}
                        {{> components/products/modals/writeReview}}
                    {{/unless}}
                {{/if}}
            </div>
            {{product.detail_messages}}
            <dl class="productView-info">
                <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{#if product.condition}}
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing">
                        {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                {{/if}}

                {{#if theme_settings.show_custom_fields_tabs '!==' true}}
                    {{> components/products/custom-fields }}
                {{/if}}
            </dl>
        </div>
    </section>

    <section class="productView-details product-options">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                {{#if product.cart_order_source}}
                    <input type="hidden" name="cart_order_source" value="{{product.cart_order_source}}"/>
                {{/if}}
                <div data-product-option-change style="display:none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                {{> components/products/add-to-cart with_wallet_buttons=true}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
                {{> components/common/wishlist-dropdown}}
            {{/if}}
        </div>
        {{> components/common/share url=product.url}}
    </section>

    <article class="productView-description">
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
        {{else}}
            {{> components/products/description}}
        {{/if}}
    </article>
</div>

<div class="combo-product" id="combo-product" style="display: none;">
    <div>
        <span class="total-head">Total:</span>
        <span class="combo-total"></span>
    </div>
    <h1>Add Ons:</h1>
    <button class="myButton" id="add-to-cart-button" onclick="add_to_cart()">Add To Cart</button>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    {{> components/common/modal/modal-close-btn }}
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var custom = [];
    {{#each product.custom_fields}}
    {{#if name '==' "upsell_products"}}
        custom.push({'name':"{{name}}",'value':"{{value}}"});
        {{/if}}
    {{/each}}
        if(custom.length > 0){
            $("#combo-product").css('display', 'block');
            for(let i=0;i<custom.length; i++){
                fetch('/graphql', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer {{settings.storefront_api.token}}',
                },
                body: JSON.stringify({query: `
                query SingleProduct {
                  site {
                    products (entityIds:${custom[i].value}) {
                      edges {
                        node {
                          id
                          sku
                           variants(first: 100) {
                                edges {
                                  node {
                                    sku
                                  }
                                }
                              }
                          entityId
                          name
                          images {
                            edges {
                              node {
                                url(width: 500, height: 500)
                              }
                            }
                          }
                          prices {
                            price {
                              value
                              currencyCode
                            }
                          }
                        }
                      }
                    }
                  }
                }
                `})
                }).then(function(response) {
                    return response.json();
                    console.log(response);
                }).then(function(response){
                    var productDetails = response.data.site.products.edges;
                    return convertJsontoDiv(productDetails);
                });
            }
        }
    function convertJsontoDiv(productDetails){
    for (var i=0; i<productDetails.length; i++) {
            var fieldset = document.createElement('fieldset');
            var chk = document.createElement('input');
                chk.setAttribute('type', 'checkbox');
                chk.setAttribute('id', 'checkbox'+productDetails[i].node.sku);
                chk.setAttribute('value', productDetails[i].node.prices.price.value);
                chk.setAttribute('name', 'product_list');
                chk.setAttribute("onchange", "changeFunction()");
            var label = document.createElement('label');
                label.htmlFor = productDetails[i].node.sku;
                label.appendChild(document.createTextNode(productDetails[i].node.name+" - ₹"+productDetails[i].node.prices.price.value.toFixed(2)));
        fieldset.appendChild(chk); 
        fieldset.appendChild(label);
       document.getElementById("combo-product").appendChild(fieldset);
    }
}
var priceWithoutTax = $('.price--withoutTax').text();
function changeFunction(){
    var productTotal = Number(priceWithoutTax.replace("₹", ""));
    var checkboxes = document.getElementsByName("product_list");
    checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
            productTotal += Number(checkbox.value);
        } else {
            productTotal = productTotal;
        }
    });
    
    $(".combo-total").text("₹"+productTotal.toFixed(2))

}
$(".combo-total").text(priceWithoutTax)
function add_to_cart(){
    var removeData=[];
    removeData.push("{{product.sku}}");
    cartUrl= "https://skill-test.mybigcommerce.com/cart.php";
    $("input:checkbox[name=product_list]:checked").each(function(){
        var $this = $(this);
        var product_id_list = $this.attr("id");
        removeData.push(product_id_list.replace("checkbox",""));
    });
    cartUrl= "http://localhost:3000/cart.php";
    for (let i=0; i<removeData.length; i++) {
        console.log(`/cart.php?action=add&sku=${removeData[i]}&qty=1`);
            $.ajax({
                type: 'GET',
                async: false,
                url: `/cart.php?action=add&sku=${removeData[i]}&qty=1`,
                success: function(data){
                    console.log("SUCCESS");
                }
            });
    }
       window.open(cartUrl);
}

</script>